html{
    scroll-behavior: smooth;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    padding-right: 5%; 
    padding-left: 5%;
    background-color: #e3e1de;
}
.heading{
    display: grid;
}
.p4pheading{
    color: #575656;
    text-align: center;
    text-decoration: none;
    font-style: italic;
}
.left_heading{
    color: #575656;
    text-decoration: none;
    float: left;
}
.right_heading{
    color:#575656;
    text-decoration: none;
    float: right;
    padding-right: 20px;
}
.description_text{
    text-align: center;
    color:#e3e1de;
    font-style: italic;
}
.main_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.imgs{
    float:left;
}
.fighter_record{
    display: inline-block;
    position: relative;
    padding: 10px;
}
.fighter_description{
    padding-top:50px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #575656;
}
.list{
    color:#575656;
    scroll-behavior: smooth;
}
iframe{
    display: block;
    margin: 0 auto;
    
}
.description_container{
    text-align: center;
    display: inline-block;
    background-color: #575656;
    padding: 20px;
}
h1{
    text-align: center;
}